body{
    height: 100vw;
    background-color: #76045D;
    display: grid;
    grid-template-areas: 
            "header"
            "main"
            "footer";
    grid-template-rows: 100px 1fr 100px;
    padding-right: 100px;
}
header{
    grid-area: header;
    background-color: lightcoral;
    
}
main{
    grid-area: main;
    background-color: lightcyan;
}
footer{
    grid-area: footer;
    background-color: lightgreen;
}
